*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#container{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: white;
    flex-direction: row;    
    padding: 12px;
    margin: 12px;
}
#header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
h2{
    text-align: center;
    font-size: 24px;
}

.main-container{
    display: flex;
    background-color: aqua;
    flex-direction: column;
    height: 88vh;    

    border: solid 2px black;
    border-radius: 8px;
    
}
#header-title{
    font-size: 30px;
}
#footer-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;   
    background-color: black;
    color: white;
    height: 9vh;
}
.input-container{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin: 10vh;
    font-size: 3vh;
}
#btn-cadastro{
    margin-top: 2rem;
    height: 45px;
    width: 121px;
    border-radius: 8px;
    border: solid black;
    background-color: #7a7af9;
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.label-text{
    font-size: 3vh;
}
.input-text{
    height: 4vh;
    width: 21vh;
    font-size: 2vh;    
    border: solid gray;
    padding: 4px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    #container{
        width: 100%;
        height: 100%;        
        background-color: white;
        flex-direction: row;    
       
    }
    .input-container{
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        margin: 5vh;
        font-size: 3vh;
    }
    .input-text{
        height: 4vh;
        width: 60vw;
        font-size: 2vh;    
        border: solid gray;
        padding: 4px;
        border-radius: 10px;
    }
  
}