*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: aqua;
    display: flex;
    max-width: none;
    max-height: none;
    flex-direction: column;
    font-family: 'minha-fonte', Arial, sans-serif;
}    


#container{
    background-color: red;
    border-radius: 8px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    
}
#header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;

    display: flex;
    align-items: center;
    padding: 0 20px;

}
#header img{
    width: 25px;
    height: 25px
}
#header-title{
    font-size: 30px;
}
#menu-icone{
    width: 25px;
    height: 25px;
}
/*Menu*/
.menu-superior{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;

}
.menu{
    display:flex;
    gap: 20px;
}
.menu a{
    text-decoration: none;
    color: #333;
}

.menu-icon{
    display: none;
    flex-direction: colum;
    font-size: 28px;
    cursor: pointer;

}
.menu-icon span{
    width: 25px;
    height: 3px;
    background: #333;
    margin: 4px 0;
}
#menu-toggle{
    display: none;
}
.menu-links{
    list-style:none;
    display: flex;
    gap: 20px;
}
.menu-links li a{
    text-decoration: none;
    color:#333;
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    height: 91vh;
    background-color: white;
    justify-content: flex-start;
}
.cards-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cards{
    background: #eaeaea;
    
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px #d88484;
    padding: 15px;
}
.cards img{
    width: 32vh;
    border-radius: 10px 0 5px;
}
.cards h3{
    margin: 10px 0 5px;
}
.cards p{
    font-size: 14px;
    color: #555;
}
.cards button{
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    border: none;
    background: #555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.cards button:hover{
    background: rgb(82, 82, 223);
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 65px;    
    background-color: black;
}
#info-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
}

#info-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
}


@media (max-width: 600px){
    .menu-icon{
        font-size: 30px;
        cursor: pointer;
        user-select: none;
    }
    #menu{

        display: none;
        flex-direction: column;
        background: #444;
        width: 100%;
        position: absolute;
        margin-top: 5px;

    }
    .menu-links{        
        position: absolute;
        top: 40px;
        right: 0;
        background: #fff;
        flex-direction: column;
        width: 150px;
        display: flex;
        box-shadow: 0 4px 10px rgb(0,0,0,0.1);
        padding: 10px;
    }
    .menu-links li{
        margin: 10px 0;
    }
    
    
    body{
        height: 100%;
        width:100%;
    }
    #menu-toggle:checked ~ #menu{
        display: flex;
    }
    main{
        height:66rem;
        justify-content: center;
    }
    .menu-icon{
        display:flex;
        flex-direction: column;
    }     
         
}
@font-face {
  font-family: 'minha-fonte';
  src: url('../fonts/minha-fonte/Inter-Italic-VariableFont_opsz\,wght.ttf') format('ttf'),
       url('../fonts/minha-fonte/Inter-VariableFont_opsz\,wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

